Импорт необходимых библиотек

In [1]:
import pandas as pd

Загрузка датасета в виде датафрейма

In [7]:
df = pd.read_csv('qm9.csv')
df

,mol_id,smiles,A,B,C,mu,alpha,homo,lumo,gap,r2,zpve,u0,u298,h298,g298,cv
0,gdb_1,C,157.71180,157.709970,157.706990,0.0000,13.21,-0.3877,0.1171,0.5048,35.3641,0.044749,-40.478930,-40.476062,-40.475117,-40.498597,6.469
1,gdb_2,N,293.60975,293.541110,191.393970,1.6256,9.46,-0.2570,0.0829,0.3399,26.1563,0.034358,-56.525887,-56.523026,-56.522082,-56.544961,6.316
2,gdb_3,O,799.58812,437.903860,282.945450,1.8511,6.31,-0.2928,0.0687,0.3615,19.0002,0.021375,-76.404702,-76.401867,-76.400922,-76.422349,6.002
3,gdb_4,C#C,0.00000,35.610036,35.610036,0.0000,16.28,-0.2845,0.0506,0.3351,59.5248,0.026841,-77.308427,-77.305527,-77.304583,-77.327429,8.574
4,gdb_5,C#N,0.00000,44.593883,44.593883,2.8937,12.99,-0.3604,0.0191,0.3796,48.7476,0.016601,-93.411888,-93.409370,-93.408425,-93.431246,6.278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133880,gdb_133881,C1C2C3C4C5OC14C5N23,3.59483,2.198990,1.904230,1.6637,69.37,-0.2254,0.0588,0.2842,760.7472,0.127406,-400.633868,-400.628599,-400.627654,-400.663098,23.658
133881,gdb_133882,C1N2C3C2C2C4OC12C34,3.65648,2.142370,1.904390,1.2976,69.52,-0.2393,0.0608,0.3002,762.6354,0.127495,-400.629713,-400.624444,-400.623500,-400.658942,23.697
133882,gdb_133883,C1N2C3C4C5C2C13CN45,3.67118,2.143140,1.895010,1.2480,73.60,-0.2233,0.0720,0.2953,780.3553,0.140458,-380.753918,-380.748619,-380.747675,-380.783148,23.972
133883,gdb_133884,C1N2C3C4C5CC13C2C45,3.52845,2.151310,1.865820,1.9576,77.40,-0.2122,0.0881,0.3003,803.1904,0.152222,-364.720374,-364.714974,-364.714030,-364.749650,24.796
133884,gdb_133885,C1N2C3C4C5OC13C2C45,3.64015,2.217640,1.937930,0.8626,69.48,-0.2316,0.0742,0.3058,756.3557,0.127862,-400.633052,-400.627892,-400.626948,-400.662186,23.434

Сэмплирование датасета на 20000 строк с учетом своего random_state

In [6]:
df1 = df.sample(n=20000, random_state=41)
df1

,mol_id,smiles,A,B,C,mu,alpha,homo,lumo,gap,r2,zpve,u0,u298,h298,g298,cv
1182,gdb_1183,CC(O)(CO)C=O,3.92303,1.94016,1.81986,3.0185,53.44,-0.2529,-0.0296,0.2233,761.0814,0.121563,-382.793238,-382.784780,-382.783836,-382.826010,29.559
63811,gdb_63812,CC1(O)CC2C3OC2C13,3.32583,1.40837,1.39035,3.0869,73.96,-0.2271,0.0641,0.2912,1018.7370,0.159144,-422.968258,-422.960642,-422.959698,-422.999894,31.172
88110,gdb_88111,CN1CC11COC=NC1,2.85410,1.46427,1.24798,2.7784,76.24,-0.2279,0.0265,0.2544,1075.5431,0.160570,-419.183124,-419.174949,-419.174005,-419.215837,31.141
45246,gdb_45247,N=C1OC2CC3CN3C12,3.11548,1.74961,1.39550,3.1310,72.10,-0.2410,0.0160,0.2570,939.9058,0.138638,-417.981149,-417.974376,-417.973431,-418.012327,27.215
1286,gdb_1287,C(CC(=O)N)CO,7.94292,1.05193,0.95777,4.6000,57.85,-0.2448,0.0347,0.2796,1158.8734,0.135165,-362.944759,-362.935797,-362.934853,-362.979581,29.830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121986,gdb_121987,CCOCC(C)NC=O,3.33982,0.71139,0.65851,4.2515,81.67,-0.2446,0.0373,0.2819,1797.8051,0.192071,-441.513864,-441.502819,-441.501874,-441.551787,38.173
90464,gdb_90465,CC1OC2C(O1)C2C#C,2.89387,1.40465,1.22578,0.7938,74.43,-0.2318,0.0432,0.2751,1079.3986,0.134251,-421.771394,-421.763050,-421.762106,-421.804479,31.591
45072,gdb_45073,O=C1CC2OC2C1C#N,2.55757,1.70878,1.15943,6.2082,65.46,-0.2751,-0.0482,0.2270,1006.0739,0.100844,-436.702045,-436.694659,-436.693714,-436.734545,27.228
49723,gdb_49724,O=CN1C2CCC2C1=O,2.88444,1.46304,1.10132,5.9030,71.44,-0.2552,-0.0377,0.2175,1086.0858,0.124673,-437.910227,-437.902465,-437.901521,-437.943095,28.283
111496,gdb_111497,CCC1C2CC2CC1O,2.62543,1.34266,1.10777,1.6097,84.31,-0.2551,0.0667,0.3218,1226.2091,0.206613,-388.293154,-388.283842,-388.282898,-388.327146,35.977

Сохранение датафрейма в формат csv

In [7]:
df1.to_csv('my_data.csv', index=False)